body {
	background-color: #FDFBEE;
}

.backplate {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;

    background: no-repeat center center fixed;
	transform: scale(1.5);
    background-size: cover;
    z-index: -20;
    filter: brightness(60%) blur(8px) ;
}

/* dmi link */
a {
	color: blue;
	cursor: pointer;
}

#results-table, th {
	width: auto;
	height: auto;
	border: 1px solid rgb(0, 0, 0);
	background-color: #d6cfcf93;
	filter: drop-shadow(32px 13px 8px rgba(0, 0, 0, 0.452));
	border-radius: 8px;
  	margin-left: auto;
  	margin-right: auto;
}

#no-matches-indicator {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* each element in the result table */
tr {
	font-family: arial;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0);
}

img {

	image-rendering: pixelated;
}

.tip {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgba(172, 255, 47, 0.74);
	color: white;
	text-shadow: 2px 2px 6px black;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
	padding: 2px;
}

.path {
	font-size: x-small;
	word-break: break-word;
	width: 150px;
}

.zoom {
	transition: transform .2s;
	cursor: crosshair;
}

.zoom:hover {
	/*will-change: transform;*/
	transform: scale(4);
	backface-visibility: hidden;
}