body {
	background-color: #FDFBEE;
}

a {
	color:blue;
}

#results-table, th {
	width: auto;
	height: auto;
	border: 1px solid black;
	background-color: #ffffff;
	border-radius: 8px;
  	margin-left: auto;
  	margin-right: auto;
}

#no-matches-indicator {
	color: red;
}

/* each element in the result table */
tr {
	font-family: arial;
	font-weight: bold;
	background-color: rgb(255, 255, 255);
}

/* dmi link */
a {
	cursor:pointer;
}

img {
	cursor: crosshair;
	image-rendering: pixelated;
}

.tip {
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: greenyellow;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.zoom {
	transition: transform .2s;
}
.zoom:hover {
	/*will-change: transform;*/
	transform: scale(4);
	backface-visibility: hidden;
}